body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 240, 240);
}

.upperbox{
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: rgb(50, 50, 60);
    display: flex;
    align-items: center;
}
.upperbox span{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: antiquewhite;
}
.upperbox .btn{
    position: absolute;
    margin: 0;
    height: 25%;
    display: flex;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 5%;
    cursor: pointer;
}
#account{
    left: 76%;
}
#account:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}
#logout{
    left: 88%;
}
#logout:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}

.classify{
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#history_list{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    margin-bottom: 30px;
}
.historybox{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
    background-color: rgba(100, 148, 237, 0.5);
}
.historyinfo{
    margin: 10px;
    font-size: 12px;
    display: flex;
}

@media screen and (max-width: 500px){
    #website{
        display: none;
    }
    #account{
        left: 5%;
    }
    #logout{
        left: 70%;
    }
}