body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 240, 240);
}

.upperbox{
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: rgb(50, 50, 60);
    display: flex;
    align-items: center;
}
.upperbox span{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: antiquewhite;
}
.upperbox .btn{
    position: absolute;
    margin: 0;
    height: 25%;
    display: flex;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 5%;
    cursor: pointer;
}
#account{
    left: 76%;
}
#account:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}
#logout{
    left: 88%;
}
#logout:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}

#authorbox{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 81%;
}
.authorbox{
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
}
.authorinfo{
    margin: 10px;
    font-size: 18px;
    display: flex;
}

#reply_list{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 65%;
    margin-bottom: 30px;
}
.replybox{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
    background-color: rgba(100, 148, 237, 0.5);
}
.replyinfo{
    margin: 10px;
    font-size: 12px;
    display: flex;
}

#replyplace{
    position: fixed;
    top: 28%;
    left: 73%;
    width: 20%;
    height: 45vh;
}
#content{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-color: rgb(35, 80, 65);
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word !important; 
    word-break: normal !important;
    background: rgba(240, 240, 240, 0.5);
}

#reply{
    position: fixed;
    top: 78%;
    left: 73%;
    width: 15%;
    height: 8vh;
    cursor: pointer;
    border-radius: 5px;
    border-color: rgb(35, 80, 65);
    background: rgba(240, 240, 240, 0.5);
}

@media screen and (max-width: 500px){
    #website{
        display: none;
    }
    #account{
        left: 5%;
    }
    #logout{
        left: 70%;
    }
    #authorbox{
        top: 10%;
        width: 85%;
        height: auto;
        left: 5%;
    }
    .authorinfo{
        font-size: 15px;
    }
    #reply_list{
        top: 30%;
        width: 85%;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        left: 5%;
        height: auto;
    }

    #replyplace{
        top: 70%;
        left: 5%;
        width: 60%;
    }
    #content{
        height: 45%;
    }

}