body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 240, 240);
}

.upperbox{
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: rgb(50, 50, 60);
    display: flex;
    align-items: center;
}
.upperbox span{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: antiquewhite;
}
.upperbox .btn{
    position: absolute;
    margin: 0;
    height: 25%;
    display: flex;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 5%;
    cursor: pointer;
}
#account{
    left: 76%;
}
#account:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}
#logout{
    left: 88%;
}
#logout:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}

.classify{
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.post_list{
    position: absolute;
    left: 20%;
    top: 30%;
    width: 70%;
    display: none;
}

.postbox{
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
}
.postbox:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.boxinfo{
    margin: 5px;
    font-size: 18px;
    display: flex;
}

#add{
    position: fixed;
    top: 15%;
    width: 10%;
    height: 19%;
    left: 37px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #262626;
    cursor: pointer;
}

.colorbox{
    position: fixed;
    top: 35%;
    background-color: coral;
    width: 12%;
    height: 50%;
    left: 70%;
    flex-wrap: wrap;
    border-radius: 10px;
    display: none;
}
.color{
    width: 100%;
    height: 10%;
    margin: 20px;
    font-size: 20px;
    color: azure;
    cursor: pointer;
}

.classboard{
    position: fixed;
    top: 40%;
    background: #262626;
    width: 12%;
    height: 50%;
    left: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}
.attribute{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: azure;
}
.attributebtn{
    cursor: pointer;
}

#cancel{
    flex: none;
    position: absolute;
    width: 20px;
    left: 90%;
    top: 3%;
    font-size: 18px;
    color: #fff;
    background: rgb(155, 0, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.post{
    position: fixed;
    top: 7%;
    width: 33%;
    height: 87%;
    left: 35%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes show{
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.post h2{
    flex: none;
    height: 0;
    background: #262626;
}
.inputBox{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
}
.inputBox input{
    width: 45%;
    font-size: 18px;
    color: #262626;
    border: none;
    border-bottom: 1px solid #262626;
    outline: none;
}
#colorbtn{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: dimgray;
    cursor: pointer;
}
#Psbox{
    height: 15%;
}
textarea{
    height: 90%;
    width: 70%;
    border-radius: 5px;
    border-color: aquamarine;
    outline: none;
}
#cp{
    width: 40%;
    font-size: 18px;
    color: #262626;
    border: none;
    border-bottom: 1px solid #262626;
    outline: none;
}

@media screen and (max-width: 500px){
    #website{
        display: none;
    }
    #account{
        left: 5%;
    }
    #logout{
        left: 70%;
    }
    #add{
        top: 2%;
        left: 40%;
        border-radius: 10%;
        height: 6%;
        width: 23%;
        color: antiquewhite;
        border-color: antiquewhite;
    }
    .post_list{
        top: 15%;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        left: 30%;
        height: auto;
    }
    .post{
        top:15%;
        width: 80%;
        height: 80%;
        left: 10%;
    }
    .classify{
        display: none;
    }
}
