html{
    height: 100%;
}
body{
    margin:  0;
    padding: 0;
    font-family: sans-serif;
}

.bgimage{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width:  100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bgimage:nth-child(1) { 
    animation: img-1 36s linear 0s infinite;
}
.bgimage:nth-child(2) { 
    animation: img-2 36s linear 0s infinite;
}
.bgimage:nth-child(3) { 
    animation: img-3 36s linear 0s infinite;
}
@keyframes img-1{ 
    0%  { opacity: 1 }
    16.66% { opacity: 1 }
    33.33% { opacity: 0 }
    83.33% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes img-2{ 
    0%  { opacity: 0 }
    16.66% { opacity: 0 }
    33.33% { opacity: 1 }
    50% { opacity: 1 }
    66.66% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes img-3{ 
    0%  { opacity: 0 }
    50% { opacity: 0 }
    66.66% { opacity: 1 }
    83.33% { opacity: 1 }
    100% { opacity: 0 }
}

.signinBox{
    position: absolute;
    top:  50%;
    left: 70%;
    transform: translate(-30%, -50%);
    width:  300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.signinBox h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.inputBox{
    position: relative;
}
.inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.inputBox label{
    position: absolute;
    top: -18px;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    color: gold;
}

button{
    width: 70%;
    background: transparent;
    border:  none;
    outline: none;
    color: #fff;
    background-color: cornflowerblue;
    margin:  5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: deepskyblue;
}

@media screen and (max-width: 500px){

    .signinBox{
        top: 50%;
        left: 30%;
        width: 275px;
    }
}