body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperbox{
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: rgb(50, 50, 60);
    display: flex;
    align-items: center;
}
.upperbox span{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: antiquewhite;
}
.upperbox .btn{
    position: absolute;
    margin: 0;
    height: 25%;
    display: flex;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 5%;
    cursor: pointer;
}
#account{
    left: 76%;
}
#account:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}
#logout{
    left: 88%;
}
#logout:hover{
    background-color: #ff0;
    color: #262626;
    border: #262626;
}

#introduce{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-shadow: 0 0 0.2em rgb(120, 120, 250);
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('city.jpg');
    background-size: cover;
    transition: 1.5s;
}

.city{
    position: relative;
    margin: 45px;
    z-index: 1;
    max-width: 200px;
    filter: blur(1.5px);
    transition: 1s;
    cursor: pointer;
}
.city:hover{
    filter: none;
    transform: scale(1.5);
}
.city:hover ~ .background{
    filter: blur(10px);
}

.detail{
    position: absolute;
}
#tainan_detail{
    top: 72%;
    left: 12%;
    width: 23%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    transform: scaleY(0);
    transition: transform .5s;
    text-shadow: 0 0 0.7em #fff;
}
#taichung_detail{
    top: 72%;
    left: 39%;
    width: 23%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    transform: scaleY(0);
    transition: transform .5s;
    text-shadow: 0 0 0.7em #fff;
}
#shinchu_detail{
    top: 68%;
    left: 65%;
    width: 23%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transform: scaleY(0);
    transition: transform .5s;
}
#tainan:hover ~ #tainan_detail{
    transform: scaleY(1);
}
#taichung:hover ~ #taichung_detail{
    transform: scaleY(1);
}
#shinchu:hover ~ #shinchu_detail{
    transform: scaleY(1);
}

@media screen and (max-width: 500px){

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .upperbox{
        display: none;
    }
    #introduce{
        display: none;
    }
    #tainan_detail{
        position: absolute;
        top: 27%;
        left: 40%;
    }
    #taichung_detail{
        position: absolute;
        top: 54%;
        left: 40%;
    }
    #shinchu_detail{
        display: none;
    }
    .city:hover{
        filter: none;
        transform: scale(1.1);
    }
}